<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic Survival using Decision Tree</title>
</head>
<body>
    <form action="/predict" method="POST">
        <label for="pclass">Passenger Class</label>
        <input type="number" placeholder="Enter the Passenger class">

        <label for="sex">Sex</label>
        <input type="number" placeholder="Enter the gender of the person" id="sex">

        <label for="age">Age in years</label>
        <input type="number" placeholder="Enter the age of the person" id="age">

        <label for="sibsp">Siblings / Spouses</label>
        <input type="number" placeholder="Enter the number" id="sibsp">

        <label for="parch">Parents / Children aboard</label>
        <input type="number" placeholder="Enter the number" id="parch">

        <label for="fare">Passenger Class</label>
        <input type="number" placeholder="Enter the Passenger fare" id="fare">

        <label for="embarked">Port of Embarkation</label>
        <input type="text" placeholder="C = Cherbourg, Q = Queenstown, S = Southampton" id="embarked">

    </form>
</body>
</html>