<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

    <title>Titanic Survival using Decision Tree</title>
</head>

<body>
    <nav class="navbar">
        <a href="https://www.thecuriousjuel.com" target="_blank">Made by Biswajit 😎</a>
        <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
        <div class="navbar-links">
            <a href="https://github.com/thecuriousjuel/DecisionTreeOnTitanic.git" target="_blank">Git Link</a>
        </div>
    </nav>

    <div class="container">
        <div class="form-data">
            <p class="bigger text-center">Titanic Survival Prediction</p>
            <h1 class="text-center">Enter Passenger Details</h1>
            <form action="/predict_data" method="POST">
                <div class="mb-3">
                    <label for="pclass" class="form-label">Enter Passenger Class</label>
                    <select name="pclass" id="pclass" class="form-select" required>
                        <option value="">Select an Option</option>
                        <option value="1">Class 1</option>
                        <option value="2">Class 2</option>
                        <option value="3">Class 3</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="sex" class="form-label">Enter your Gender</label>
                    <div class="d-flex gap-4">
                        <div class="form-check">
                            <input type="radio" id="male" value="male" name="sex" class="form-check-input" required>
                            <label for="male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="female" value="female" name="sex" class="form-check-input">
                            <label for="female" class="form-check-label">Female</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="age" class="form-label">Age in years</label>
                    <input type="number" placeholder="Enter the age of the person" id="age" name="age"
                        class="form-control" min="0" max="100" required>
                </div>
                <div class="mb-3">
                    <label for="sibsp" class="form-label">No. of Siblings/Spouses abroad</label>
                    <input type="number" placeholder="Enter the number" id="sibsp" name="sibsp" class="form-control"
                        min="0" max="100" required>
                </div>
                <div class="mb-3">
                    <label for="parch" class="form-label">No. of Parents/Children aboard</label>
                    <input type="number" placeholder="Enter the number" id="parch" name="parch" class="form-control"
                        min="0" max="100" required>
                </div>
                <div class="mb-3">
                    <label for="fare" class="form-label">Enter the fare charged</label>
                    <input type="number" placeholder="Enter the Passenger fare" id="fare" name="fare"
                        class="form-control" min="0" max="10000" required>
                </div>
                <div class="mb-3">
                    <label for="embarked" class="form-label">Port of Embarkation</label>
                    <select name="embarked" id="embarked" class="form-select" required>
                        <option value="">Select any value</option>
                        <option value="C">Cherbourg</option>
                        <option value="Q">Queenstown</option>
                        <option value="S">Southampton</option>
                    </select>
                </div>
                <input type="submit" value="Predict" class="btn btn-primary">
            </form>
            <br>
            <h3 class="text-center">OR</h3>
            <br>
            <h1 class="text-center">Upload a File</h1>
            <br>
            <a href="https://github.com/JuelBasak/DecisionTreeOnTitanic/blob/main/Sample%20File/test.csv"
                target="_blank">File Structure Reference</a>
            <br><br>

            <form action="/predict_file" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control" />
                <br><br>
                <input type="submit" value="Submit file" class="btn btn-primary">
            </form>

            {% if output %}
            <div class="invalid">
                {{output}}
            </div>
            {% endif %}

        </div>

    </div>

    <script>
        function toggleMenu() {
            var navbar = document.querySelector('.navbar');
            navbar.classList.toggle('responsive');
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>