<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Titanic Survival using Decision Tree</title>
</head>

<body>
    <form action="/predict" method="POST">

        <label for="pclass">Passenger Class</label>
        <select name="pclass" id="pclass">
            <option value="1" selected>Class 1</option>
            <option value="2">Class 2</option>
            <option value="3">Class 3</option>
        </select>

        <label for="sex">Sex</label>
        <input type="radio" id="male" name="sex" value="male">
        <input type="radio" id="female" name="sex" value="female">


        <label for="age">Age in years</label>
        <input type="number" placeholder="Enter the age of the person" id="age">

        <label for="sibsp">Siblings / Spouses</label>
        <input type="number" placeholder="Enter the number" id="sibsp">

        <label for="parch">Parents / Children aboard</label>
        <input type="number" placeholder="Enter the number" id="parch">

        <label for="fare">Passenger Class</label>
        <input type="number" placeholder="Enter the Passenger fare" id="fare">

        <label for="embarked">Port of Embarkation</label>
        <select name="embarked" id="embarked" selected>
            <option value="C">Cherbourg</option>
            <option value="Q">Queenstown</option>
            <option value="S">Southampton</option>
        </select>
        <input type="submit" value="Predict">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>